.main {
    font-family: 'Verdana',sans-serif;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url(../image/bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    text-align: center;
    color: #fff;
    text-decoration: none;
    list-style: none;
}
a:visited {
    color: inherit;
}
a {
    color:inherit;
    text-decoration: none
}
.header {
    height: 54px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0 6%;
    overflow: hidden;
}
.logo {
    float: left;
    line-height: 54px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.logo:hover {
    color: #3cb878;
    transition: 0.7s;
}
.icons {
    float: right;
    line-height: 54px;
}
.icons ul li{
    display: inline-block;
    line-height: 54px;
}
.icons ul li a {
    display: inline-block;
    vertical-align: middle;
}
.upper-sign {
    float: right;
    line-height: 64px;
    font-size: 14px;
    padding-left: 0.8vw;
}
.upper-sign a {
    color: #3cb878;
}
.upper-sign a:hover {
    border-bottom: solid 1px #3cb878; 
}
.sprite-ic_caledar {
    background-image: url(..//image/spritesheet.png);
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
    margin: 0 1vw;
}
.sprite-ic_caledar:hover {
    width: 19px;
    height: 19px;
    background-position: -34px -5px;
}

.sprite-ic_forum {
    background-image: url(..//image/spritesheet.png);
    width: 28px;
    height: 20px;
    background-position: -63px -5px;
    margin: 0 1vw;
}

.sprite-ic_forum:hover {
    width: 28px;
    height: 20px;
    background-position: -101px -5px;
}

.sprite-ic_journey {
    background-image: url(..//image/spritesheet.png);
    width: 20px;
    height: 20px;
    background-position: -139px -5px;
    margin: 0 1vw;
}

.sprite-ic_journey:hover {
    width: 20px;
    height: 20px;
    background-position: -169px -5px;
}
.upper-sign:before {
    content: " ";
    display: inline-block;
    width: 1px;
    height: 19px;
    background-color: #888;
    position: relative;
    top: 1.8px;
    margin-right: 1.8vw;
}
.container {
    width: 444px;
    height: 584px;
    background-color: #fff;
    margin: 65px auto;
    padding-top: 29px;
    border-radius: 15px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.3);
}
.content {
    line-height: 21px;
}
.content a {
    float: right;
    margin-right: 60px;
    color:  #3cb878;
    font-size: 14px;
    border-bottom: 1px solid transparent;
}
.content a:hover {
    border-bottom: 1px solid #3cb878;
}
.content-sign {
    float: left;
    font-size: 20px;
    color: #434343;
    line-height: 21px;
}
.content-sign:before {
    content:"";
    float: left;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    margin-right: 42px;
}
.social {
    clear: both;
    color:  #ffffff;
    font-size: 16px;
    line-height: 21px;
}
.facebook {
    float: left;
    background-color:  #305db8;
    border-radius: 3px;
    margin: 18px 4px 33px 61px;
    width: 157px;
    height: 46px;
    line-height: 46px;
}
.facebook:hover {
    background-color: #264b96;
    transition: 0.5s;
}
.facebook span {
    width: 46px;
    height: 46px;
    float: left;
}
.facebook span:after {
    content: " ";
    display: inline-block;
    line-height: 46px;
    width: 1px;
    height: 28px;
    position: relative;
    top: 9px;
    left: 17px;
    background-color: rgba(0, 0, 0, 0.3);
}
.google {
    float: right;
    background-color:  #df4a32;
    border-radius: 3px;
    margin: 18px 61px 33px 4px;
    width: 157px;
    height: 46px;
    line-height: 46px;
}
.google:hover {
    background-color: #c3412c;
    transition: 0.5s;
}
.google span {
    width: 46px;
    height: 46px;
    float: left;
}
.google span:after {
    content: " ";
    display: inline-block;
    line-height: 46px;
    width: 1px;
    height: 28px;
    position: relative;
    top: 9px;
    left: 9px;
    background-color: rgba(0, 0, 0, 0.3);
}
.separator{
    clear: both;
    margin:0 61px 18px 61px;
    color:  #848484;
    font-size: 14px;

}
.separator:before{
    content: " ";
    float: left;
    margin-top: 8px;
    margin-right: 12px;
    width: 140px;
    height: 1px;
    background-color: #bebebe;
}
.separator:after{
    content: " ";
    float: right;
    margin-top: 8px;
    margin-left:12px;
    width: 140px;
    height: 1px;
    background-color: #bebebe;
}
.registration {
    clear: both;
    color:  #434343;
}
.registration input {
    border-radius: 3px;
    border: 1px solid #bebebe; 
    width: 322px;
    height: 46px;
    box-sizing: border-box;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 46px;
    text-align: left;
    font-family: 'Verdana', sans-serif;
    padding-left: 19px;
    color:  #434343;
}
.registration input:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
    outline: 0;
}
.agree-box {
    display: none;
}
.agree-box + .custom-agree-box {
    margin-left: 61px;
    margin-right: 13px;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    float: left;
    background: url(images/switch.png) no-repeat;
    cursor: pointer;
    border: 1px solid #bebebe; 
    border-radius: 2px;
}
.agree-box:checked + .custom-agree-box{
    background-image: url(..//image/checkbox.png);
    background-position: center;
}
.submition {
    margin-top: 10px;
}
.submition p {
    color:  #434343;
    font-size: 14px;
    line-height: 21px;
    float: left;
}
.submition a {
    color:#3cb878; 
}
.submition a:hover {
    text-decoration: underline;
}
.create-box{
    width: 322px;
    height: 46px;
    box-sizing: border-box;
    display: inline-block;
    line-height: 46px;
    margin-top: 25px;
    padding: 0;
    color:  #fff;
    font-size: 16px;
    background-color: #3cb878; 
    cursor: pointer;
    border-radius: 3px;
    border: none;
    outline: 0;
}
.create-box:hover {
    background-color: #36A56C;
    transition: 0.5s;
}